@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat.ttf");
}
@font-face {
  font-family: "SourceSans";
  src: url("../assets/fonts/SourceSans.ttf");
}

:root {
    --background-color: #1A1A1A;
    --white-color: #FFFFFF;
    --text-color: #cacaca;
    --orange-color: #FFAA00;
    --max-container-width: 1370px;
    --transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 62.5%;
}

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
*::selection {
  background: var(--orange-color);
  color: var(--background-color)
}

html,
body {
  font-family: "SourceSans";
  font-size: 1.6em;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}
input, textarea {
  color: var(--text-color);
}

h1, h2, h3, h4, blackquote {
  font-family: "Montserrat";
  color: var(--white-color);
}

a, a:visited {
  color: var(--white-color);
  text-decoration: none;
}

button {
  border: none;
  background: none;
  font-family: "SourceSans";
}

ul li {
  list-style: none;
}

.highlight-text {
  color: var(--white-color);
}
.section-heading {
  text-transform: uppercase;
  padding-bottom: 2rem;
  
  @media only screen and (min-width: 960px) {
    padding-bottom: 3.5rem;
}
}